/* PUBG-BOX Web Colors and Common Styles */
$bg-color: #1c1c1c;
$card-bg: #2a2a2a;
$primary-color: #409eff;
$text-primary: #ffffff;
$text-secondary: #999999;
$win-color: #409eff;
$lose-color: #f56c6c;

.player-detail-container {
  font-family: 'Roboto', sans-serif;
}
