/* Global Styles */
body {
  margin: 0;
  background-color: var(--el-bg-color-page);
  color: var(--el-text-color-primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

html.dark {
  color-scheme: dark;
}
